<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cerulean/bootstrap.css" />

    <style>
        body {
            margin: 0;
            padding: 10px;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<html>
<head><title></title></head>

<body>
    <h2>Content</h2>

    <h3>Teachers</h3>

    {% if teachers %}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Subjects</th>
        </tr>

        {% for teacher in teachers %}
        <tr>
            <td>{{teacher.name}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.department}}</td>
            <td>
                {% for subject in teacher.subjects.all %} {{subject.name}}{% if not forloop.last %},
                {% endif %}
                {% empty %} No subjects selected.
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
    </table>

    {% else %}
    No data!
    {% endif %}

    <br> <br>

    <h3>Students</h3>

    {% if students %}
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Year Level</th>
            <th>Subjects</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.date_of_birth}}</td>
            <td>{{student.year_level}}</td>
            <td>
                {% for subject in student.subjects.all %} {{subject.name}}{% if not forloop.last %},
                {% endif %}
                {% empty %} No subjects selected.
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    No data!
    {% endif %}

    <br> <br>

    <h3>Units</h3>
    {% if units %}
    <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Course Code</th>
            <th>Teacher</th>
        </tr>

        {% for unit in units %}
        <tr>
            <td>{{unit.name}}</td>

            {% if unit.image %}
            <td> <img src="{{unit.image.url}}" width="240" height="135" /> </td>

            {% else %}
            <td> No image uploaded! </td>
            {% endif %}

            <td>{{unit.course_code}}</td>
            <td>{{unit.teacher}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No data!
    {% endif %}

    <br> <br>

    <h3>Unit Outlines</h3>
    {% if outlines %}
    <table>
        <tr>
            <th>Assessment Period</th>
            <th>Course</th>
            <th>Unit</th>
            <th>Accreditation</th>
            <th>Year Level</th>
            <th>Unit Goals</th>
            <th>Content Descriptions</th>
        </tr>

        {% for outline in outlines %}
        <tr>
            <td>{{outline.assessment_period}}</td>
            <td>{{outline.course}}</td>
            <td>{{outline.unit}}</td>
            <td>{{outline.accreditation}}</td>
            <td>{{outline.year_level}}</td>
            <td>{{outline.unit_goals}}</td>
            <td>{{outline.content_descriptions}}</td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    No data!
    {% endif %}

    <br> <br>

    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'studentForm' %}">Student Registration</a>
    <a href="{% url 'teacherForm' %}">Teacher Registration</a>
    <a href="{% url 'unitForm' %}">Unit Registration</a>
    <a href="{% url 'unitOutlineForm' %}">Unit Outline Generator</a>
</body>
</html>
