{% load static %}

<html>
<head>
    <title>Unit Registration</title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/cerulean/bootstrap.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <h3>Unit Registration Form</h3>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br> <br>
        <button class="btn btn-primary"> Submit </button>
    </form>

    {% include 'navbar.html' %}
</body>
</html>